# Projeto do Módulo 13
## Projeto - Fundamentos da Descoberta de Dados: aplicação dos conceitos estatísticos nos Módulos 12 e 13.

#### Importando bibliotecas e dados

In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import numpy as np

In [3]:
df = pd.read_csv("dados-mod-13.csv", delimiter=',')

df.head(10)

,title,Marca,Preco_Normal,Preco_Desconto,Preco_Anterior,Desconto,Categoria
0,"Pack 12 un, Leche extra proteína 1 L",Loncoleche,19788,0,0,0,lacteos
1,"Pack 12 un, Leche chocolate receta original 1 L",Soprole,18228,0,0,0,lacteos
2,"Pack 12 un, Leche semidescremada chocolate 1 L",Soprole,18228,0,0,0,lacteos
3,"Pack 12 un, Leche semidescremada frutilla 1 L",Soprole,18228,0,0,0,lacteos
4,"Pack 12 un, Leche sin lactosa chocolate 1 L",Loncoleche,17988,0,0,0,lacteos
5,"Pack 12 un, Leche sin lactosa frutilla 1 L",Loncoleche,17988,0,0,0,lacteos
6,"Pack 12 un, Leche saborizada light chocolate 1 L",Loncoleche,17988,0,0,0,lacteos
7,"Pack 12 un, Leche saborizada frutilla 1 L",Colun,17388,0,0,0,lacteos
8,"Pack 12 un, Leche saborizada vainilla 1 L",Colun,17388,0,0,0,lacteos
9,"Pack 12 un, Leche saborizada manjar 1 L",Colun,17388,0,0,0,lacteos

### Média dos preços por categoria de produto.

In [19]:
df.groupby("Categoria")['Preco_Normal'].mean().sort_values()

Categoria
instantaneos-y-sopas           765.491228
verduras                      1343.296875
frutas                        1724.473684
belleza-y-cuidado-personal    1783.556485
congelados                    2108.042553
lacteos                       2385.219239
comidas-preparadas            3095.043478
Name: Preco_Normal, dtype: float64

### Mediana dos preços por categoria de produto.

In [20]:
df.groupby("Categoria")['Preco_Normal'].median().sort_values()

Categoria
instantaneos-y-sopas           439.0
lacteos                        989.0
verduras                      1180.0
frutas                        1195.0
congelados                    1519.0
belleza-y-cuidado-personal    1569.0
comidas-preparadas            3290.0
Name: Preco_Normal, dtype: float64

### Comparação entre os valores das médias e das medianas

In [41]:
df.groupby("Categoria")['Preco_Normal'].agg(
    Média=('mean'),
    Mediana=('median'),
   Maior_Valor = lambda x: 'Média' if np.mean(x) > np.median(x) else 'Mediana')

                                  Média  Mediana Maior_Valor
Categoria
belleza-y-cuidado-personal  1783.556485   1569.0       Média
comidas-preparadas          3095.043478   3290.0     Mediana
congelados                  2108.042553   1519.0       Média
frutas                      1724.473684   1195.0       Média
instantaneos-y-sopas         765.491228    439.0       Média
lacteos                     2385.219239    989.0       Média
verduras                    1343.296875   1180.0       Média

### Desvio padrão por categoria de produto

In [47]:
df.groupby('Categoria')['Preco_Normal'].std()

Categoria
belleza-y-cuidado-personal    2210.041719
comidas-preparadas            2019.911428
congelados                    2111.539896
frutas                        1639.151114
instantaneos-y-sopas          1170.232869
lacteos                       3925.816164
verduras                      1012.699625
Name: Preco_Normal, dtype: float64

### Análise dos dados

In [63]:
df.groupby("Categoria")['Preco_Normal'].agg(
    Média=('mean'),
    Mediana=('median'),
   Maior_Valor = lambda x: 'Média' if np.mean(x) > np.median(x) else 'Mediana', 
    Diferença = lambda x: np.mean(x) - np.median(x),
  Desvio_Padrão = lambda x: np.std(x)).reset_index().sort_values(by='Desvio_Padrão', ascending=False).round(2)

,Categoria,Média,Mediana,Maior_Valor,Diferença,Desvio_Padrão
5,lacteos,2385.22,989.0,Média,1396.22,3921.42
0,belleza-y-cuidado-personal,1783.56,1569.0,Média,214.56,2205.41
2,congelados,2108.04,1519.0,Média,589.04,2107.04
1,comidas-preparadas,3095.04,3290.0,Mediana,-194.96,1997.84
3,frutas,1724.47,1195.0,Média,529.47,1595.43
4,instantaneos-y-sopas,765.49,439.0,Média,326.49,1159.92
6,verduras,1343.30,1180.0,Média,163.30,1004.76

#### O exercício pede para analisar o comportamento da média e da mediana nas categorias com maior desvio padrão. Eu esperaria ver uma maior diferença entre a média e a mediana quanto maior o desvio padrão. Contudo, os dados não mostram isso de forma explícita. Ignorando os resultados das categorias de beleza e cuidado e alimentos instantâneos, poderíamos ver esse comportamento. 

Obs.: Os valores de desvio padrão estão diferentes no primeiro e no secundo cálculo por que o primeiro foi realizado com a biblioteca pandas e o segundo com a biblioteca numpy; de qualquer forma, a análise não